/* Universal Styles */
html {
    font-size: 16px;
    font-family: 'Fredoka', sans-serif;
    background-color: #ccd1c7;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    padding-top: 4.3125rem;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #41044e;
    border-bottom: 1px solid #bc96e6;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.logo {
    margin: 10px;
    font-size: 2.5rem;
    color: #fff;
}
nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 2.5rem;
}
nav li {
    margin: 0 1.25rem;
    font-size: 1.25rem;
    color: #fff;
}
nav a {
    text-decoration: none;
    color: inherit;
}

/* Home */
.splash {
    background-image: url('../images/canvas-texture.jpg');
    height: 43.75rem;
    background-size: cover;
}
.home {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: #084c61;
}
.home h2 {
    font-size: 3.5rem;
    color: #5e454e;
}

/* About */
.about {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-content {
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(8, 76, 97, 0.25);
}
.about h2 {
    margin-bottom: 2rem;
    font-size: 3.5rem;
    color: #5e454e;
}
.about p {
    font-size: 2.25rem;
    text-align: center;
    max-width: 800px;
}

/* Portfolio */




/* Artist */




/* Footer */